In [1]:
#focus group

In [93]:
import pandas as pd

In [94]:
# loading all lines
with open('focus_group_03.txt') as file:
    lines = [line.strip() for line in file]

In [96]:
#ignoring certain lines
focus3=[]
for l in lines:
    if(l.startswith("Oksana") or l.startswith("Fred") or l.startswith("Marco") or l.startswith("Mario") or l.startswith("All")):
        continue
    else:
        focus3.append(l)

In [31]:
# testing
s="Speaker 1 (M) [00:00:40] But my thoughts were to learn about technology now learning more about technology."
print(s.partition("(")[0])
print(s[s.find("(")+1:s.find(")")])
print(s[s.find("[")+1:s.find("]")])
print (s.partition("]")[2])

Speaker 1
M
00:00:40
 But my thoughts were to learn about technology now learning more about technology.

In [98]:
import numpy as np

In [99]:
name=[]
gender=[]
time=[]
text=[]
for s in focus3:
    name.append(s.partition("(")[0])
    gender.append(s[s.find("(")+1:s.find(")")])
    time.append(s[s.find("[")+1:s.find("]")])
    text.append(s.partition("]")[2])

In [100]:
df3=pd.DataFrame()

In [101]:
df3['Name']=np.char.strip(np.array(name))
df3

          Name
0    Speaker 1
1    Speaker 2
2    Speaker 3
3    Speaker 4
4    Speaker 5
..         ...
451  Speaker 4
452  Speaker 4
453  Speaker 5
454  Speaker 3
455  Speaker 3

[456 rows x 1 columns]

In [102]:
df3['Gender']=np.char.strip(np.array(gender))
df3['Time']=np.char.strip(np.array(time))
df3['Text']=np.char.strip(np.array(text))
df3

,Name,Gender,Time,Text
0,Speaker 1,F,00:01:25,You're welcome participation as well. No worries.
1,Speaker 2,F,00:03:52,I live on my own.
2,Speaker 3,F,00:03:53,I live on my own too
3,Speaker 4,F,00:03:55,I live with my partner and my two cats.
4,Speaker 5,M,00:03:58,I live with a partner on one cat.
...,...,...,...,...
451,Speaker 4,F,01:43:20,depression.
452,Speaker 4,F,01:43:24,If the people at church found out where I am.
453,Speaker 5,M,01:43:26,Drugs.
454,Speaker 3,F,01:43:39,Facilitator.
455,Speaker 3,F,01:45:08,"I think the other one, I think as you get olde..."

In [103]:
df3.to_csv('Focus_Group_3_Processed.csv')

In [104]:
df3.isnull().sum()

Name      0
Gender    0
Time      0
Text      0
dtype: int64

In [105]:
#seperate by gender
grouped = df3.groupby(df3['Gender'])
df3_male=(grouped.get_group('M'))
df3_male

,Name,Gender,Time,Text
4,Speaker 5,M,00:03:58,I live with a partner on one cat.
7,Speaker 5,M,00:05:11,Yeah. I don't think I'd mind because if I feel...
9,Speaker 5,M,00:05:30,Are they?
16,Speaker 5,M,00:07:01,I'm shaving less often.
22,Speaker 5,M,00:08:41,Tapioca!
...,...,...,...,...
441,Speaker 5,M,01:41:07,"Yeah, OK. I think technology, TV and social me..."
442,Speaker 5,M,01:41:17,because we I think people watch tons of TV.
448,Speaker 5,M,01:42:56,What about mental health in terms of if you're...
450,Speaker 5,M,01:43:15,When we can't be bothered to go to the church....
453,Speaker 5,M,01:43:26,Drugs.

In [106]:
#reset index
df3_male.reset_index(inplace=True)
df3_male

,index,Name,Gender,Time,Text
0,4,Speaker 5,M,00:03:58,I live with a partner on one cat.
1,7,Speaker 5,M,00:05:11,Yeah. I don't think I'd mind because if I feel...
2,9,Speaker 5,M,00:05:30,Are they?
3,16,Speaker 5,M,00:07:01,I'm shaving less often.
4,22,Speaker 5,M,00:08:41,Tapioca!
...,...,...,...,...,...
72,441,Speaker 5,M,01:41:07,"Yeah, OK. I think technology, TV and social me..."
73,442,Speaker 5,M,01:41:17,because we I think people watch tons of TV.
74,448,Speaker 5,M,01:42:56,What about mental health in terms of if you're...
75,450,Speaker 5,M,01:43:15,When we can't be bothered to go to the church....
76,453,Speaker 5,M,01:43:26,Drugs.

In [107]:
df3_female=(grouped.get_group('F'))
df3_female.reset_index(inplace=True)
df3_female

,index,Name,Gender,Time,Text
0,0,Speaker 1,F,00:01:25,You're welcome participation as well. No worries.
1,1,Speaker 2,F,00:03:52,I live on my own.
2,2,Speaker 3,F,00:03:53,I live on my own too
3,3,Speaker 4,F,00:03:55,I live with my partner and my two cats.
4,5,Speaker 1,F,00:04:02,"I live with my partner, and sadly no, no cat ."
...,...,...,...,...,...
374,449,Speaker 3,F,01:43:09,"Yeah, because that could be depressing. When y..."
375,451,Speaker 4,F,01:43:20,depression.
376,452,Speaker 4,F,01:43:24,If the people at church found out where I am.
377,454,Speaker 3,F,01:43:39,Facilitator.
378,455,Speaker 3,F,01:45:08,"I think the other one, I think as you get olde..."

In [108]:
df3_male.to_csv('Focus3 Male.csv')

In [109]:
df3_female.to_csv('Focus3 Female.csv')

In [97]:
len(focus3)

456